<app-header />
<main>
  <ul id="users">
    <!-- @for (u of user ; track u.id){
    <li>
      <app-user [user]="u" (select)="onSelectedUser($event)" />
    </li>
    } -->

    <!-- * old ways @ -->
    <li *ngFor="let u of user">
      <app-user
        [user]="u"
        (select)="onSelectedUser($event)"
        [selected]="u.id === selectedUserId()"
      />
    </li>
  </ul>
  @if (name()) {
  <app-tasks [name]="name()" [userId]="selectedUser()!.id" />
  } @else {
  <p id="fallback">Select a user to see their task!</p>
  }
</main>
